{% extends "admin/base_site.html" %}
{% load static  %}
<!--{% block breadcrumbs %}
<br>
{% endblock %}-->
{% block extrahead %}
    {% load static %}
    <script src="{% static 'js/sample.js'%}"></script>
    <script src="{% static 'js/phaser.min.js'%}"></script>

    {% if media.media_type == 'image' %}
        <script>
  
            document.addEventListener("DOMContentLoaded",function(){
                var config = {
                    type: Phaser.AUTO,
                    width: 730,
                    height: 800,
                    parent: "game-container",
                    backgroundColor: "#008CBA",
                    scene: {
                        preload: preload,
                        create: create,
                        update: update
                    }
                };
                var game = new Phaser.Game(config);

                function preload(){
                    this.load.image("pic","{{ media.file.url }}");
                }

                function create(){

                    camera = this.cameras.main;
                    image = this.add.image(500,400,"pic");
                    image.setScale(1.3)
                    image.setOrigin(0.5,0.5);
                    image.setPosition(this.cameras.main.centerX,this.cameras.main.centerY);
                    image.setInteractive();
                    this.input.setDraggable(image);

                    this.input.on("drag",function(pointer,gameObject,dragX,dragY){
                        gameObject.x = dragX;
                        gameObject.y = dragY;
                    });
                    camera.setZoom(0.8);

                    let lastClickTime = 0;
                    let doubleClickDelay = 300;
                    let holdTime = 1000;
                    let holdTimer = null;

                    image.on("pointerdown",function(){
                        let currentTime = this.scene.time.now;

                        //Double Click Check
                        if(currentTime - lastClickTime < doubleClickDelay){
                            camera.setZoom(camera.zoom * 1.2);
                        }
                        lastClickTime = currentTime;

                        //Long press Check
                        holdTimer = this.scene.time.delayedCall(holdTime,function(){
                            camera.setZoom(camera.zoom / 1.2);
                        });

                    });

                    image.on("pointerup",function (){
                        if(holdTimer){
                            holdTimer.remove();
                            holdTimer = null;
                        }
                    });
                }
                function update() {
                    // Game logic
                }
                function zoomIn() {
                    camera.setZoom(camera.zoom * 1.2);
                }
                function zoomOut() {
                    camera.setZoom(camera.zoom / 1.2);
                }
            });
        </script>
    {% endif %}
    <script>
        function closeWindow() {
            setTimeout(function() {
                window.close();
            },500); // two seconds
        }
    </script>
    <style>
        textarea {
            width: 55%;
            height: 150px;
            padding: 12px 20px;
            box-sizing: border-box;
            border: 2px solid #ccc;
            border-radius: 4px;
            background-color: #f8f8f8;
            font-size: 16px;
            resize: none;
        }
    </style>
{% endblock %}
{% block content %}
<div id="content-main" align="center">
    <div><h1>Title: {{ media.title }}</h1></div>
    {% if media.media_type == 'pdf' %}
        <embed src="{{media.file.url}}" type="application/pdf" width=55% height="1000px">
    {% elif media.media_type == 'image' %}
        <div id="game-container" alt="{{media.title}}"></div>
    {% elif media.media_type == 'unknown' %}
        <div align="center"><h1>If your seeing this, Reupload the file</h1></div>
    {% endif %}

    <div width=50%>
        <label for="remarks"></label><br>
        <textarea readonly id="remarks" name="remarks" rows="4" cols="50" placeholder="Admin Remarks">{{media.remarks}}</textarea>
    </div>


    <!--Back Button-->
    <div style="margin-top:20px">
        <a href="{% url 'admin:app_mediafile_changelist' %}" class="button">Back to List</a>
    </div> 
</div>
{% endblock %}